[Unit]
Description=Spock-Bot
After=multi-user.target
[Service]
PIDFile=/tmp/spock-bot-99.pid
WorkingDirectory=/home/spock/spock-bot/
User=spock
Group=spock
ExecStart=/home/spock/spock-bot/bot.js
Restart=always
RestartSec=15
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
